:root {
  --primary-color: #ec1839;
  --bg-color: #f2f2fc;
  --text-color: #302e4d;
}

[data-theme='dark'] {
  --bg-color: #151515;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}